# ------------------------------------------------------
# Angular / Node / Editors - Clean Gitignore
# ------------------------------------------------------

# Build output
/dist
/bazel-out
/out-tsc
/tmp

# Angular cache
/.angular/cache

# Node
/node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
src/environments/*.local.ts

# Logs
*.log

# Testing
/coverage
/__screenshots__/

# IDEs
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Misc
.sass-cache/
connect.lock
typings/
libpeerconnection.log
testem.log
.history/
